# Dependances
node_modules/
.pnpm-store/

# Builds
.next/
next-env.d.ts
out/
dist/
build/
*.tsbuildinfo

# Turbo
.turbo/

# Electron
apps/desktop/release/

# Divers
.DS_Store
*.log
.env
.env.local
coverage/
